/doc
/pkg
/tmp

/ext/spidermonkey/*.bundle
/ext/spidermonkey/Makefile
/ext/spidermonkey/*.log
/ext/spidermonkey/immutable_node.c
/ext/spidermonkey/*.o
/ext/spidermonkey/*.so

/lib/johnson/*.bundle
/lib/johnson/*.so

/vendor/spidermonkey/*.OBJ

/vendor/spidermonkey/editline/*.OBJ
.*.swp
tags
.DS_Store
*.log
*.*~
*~

