/doc
/pkg
/tmp

/ext/spidermonkey/*.bundle
/ext/spidermonkey/*.bundle

/ext/spidermonkey/Makefile
/ext/spidermonkey/*.log
/ext/spidermonkey/immutable_node.c
/ext/spidermonkey/*.o
/ext/spidermonkey/*.so

/lib/johnson/spidermonkey/*.bundle
/lib/johnson/spidermonkey/*.so

/vendor/spidermonkey/*.OBJ

/vendor/spidermonkey/editline/*.OBJ
.*.swp
tags
.DS_Store

/ext/tracemonkey/immutable_node.cc
/lib/johnson/tracemonkey/*.bundle


# SMP: REMOVE 

/save
/vendor/tbd